<meta charset="utf-8">
<div style="
  width: 1200px;
  height: 600px;
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
  border: 8px solid #007bff;
  boxsizing: border-box;
">
<img src="https://plamo-painter-a60b75e8dc61.herokuapp.com/top.jpg"
    style="
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: 0;
  ">

  <div style="
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  ">
    <h1 style="font-size: 60px; color: #007bff;"> <%= title %> </h1>
  </div>
</div>
