<h1>ダッシュボード</h1>

<div class="container_dash mt-4">
  <div class="mb-3 text-center">
    <canvas id="imageCanvas" class="bordered-canvas"></canvas>
  </div>

  <%= form_with url: upload_images_dashboard_path, method: :post, local: true, multipart: true do |f| %>
    <div class="mb-3">
      <%= f.file_field :images, id: "imageInput", class: "form-control", accept: "image/*" %>
    </div>
    <div class="mt-4 text-center">
      <button type="button" id="uploadButton" class="btn btn-success px-5">アップロード</button>
      <%= f.hidden_field :canvas_image, id: "canvasImage" %> <!-- Canvasデータを送信 -->
    </div>
  <% end %>

  <br>
  <div class="mt-4 d-flex align-items-center">
  <input type="color" id="colorPickerImage" class="form-control form-control-color me-3" value="#ff0000">

  <div class="me-3">
    <span id="selectedHex" class="fw-bold">#ff0000</span>
    <span id="selectedRgb">(255, 0, 0)</span>
  </div>

  <button id="applyColor" class="btn btn-outline-secondary me-2">色を適用</button>

  <form id="colorSearchForm" class="d-flex align-items-center">
    <input type="hidden" name="color" id="colorInput">
    <button type="submit" class="btn btn-secondary">近い色を検索</button>
  </form>
</div>

<button id="rangeModeBtn" class="btn btn-outline-primary mt-3">範囲指定</button>


  <div id="searchResults"></div>
