<h1>ダッシュボード</h1>

  <div class="container_dash mt-4">
  <div class="mb-3">
  <img id="imagePreview" src="https://via.placeholder.com/300" class="img-fluid border rounded" style="max-height: 300px;">
  </div>
  <form action="<%= "#" %>" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <input type="file" name="image" id="imageInput" class="form-control">
  </div>
</form>
<br>
<br>

            <div class="mt-4 d-flex justify-content-around">
              <button class="btn btn-outline-secondary">マスキング</button>
              <button class="btn btn-outline-secondary">色を変更</button>
              <button class="btn btn-outline-secondary">塗料検索</button>
            </div>

            <div class="mt-4 p-3 bg-light border rounded text-center">
            </div>

            <div class="mt-4">
              <button class="btn btn-primary px-5">保存</button>
            </div>
          </div>
        </div>
      </div>

