<div class="top-container">
  <div class="image-container">
    <%= image_tag "top.jpg", class: "overlay-image" %>
    <div class="overlay-text">Plamo Painter</div>
    <div class="top-text">Creating From Images</div>
  </div>
</div>

<section class="app-description">
  <h2>Plamo Painterとは？</h2>
  <p>
    Plamo Painterは、プラモデルのデジタルペイントを楽しめるアプリです。
    実際のプラモデルを塗装する前に、色やデザインを試せる便利なツールとして活用できます。
  </p>
  <p>
    直感的なペイントツールを使って、自由にカラーリングが可能。
    完成した画像をライブラリに保存したり、近い色の塗料を検索することが出来ます。

  </p>
</section>

<section class="how-to-use">
  <h2>アプリの使い方</h2>
  <div class="how-to-steps">
    <div class="step">
      <h3>① 画像をアップロード</h3>
      <p>好きなプラモデルの画像を選びます。</p>
    </div>
    <div class="step">
      <h3>② ペイントツールを使う</h3>
      <p>マスキングで変えたい部分の色を自由にカスタマイズできます。</p>
    </div>
    <div class="step">
    <h3>③ 塗料を検索</h3>
    <p>変えた色に近い塗料を検索できます。</p>
    </div>
    <div class="step">
      <h3>④ 作品を保存</h3>
      <p>完成した作品を保存し、ライブラリで表示できます。</p>
    </div>
  </div>
</section>

<section class="start-section">
  <h2>さぁ、始めましょう！</h2>
<%= link_to "ログイン", login_path, class: "start-button" %>
</section>

